.updateContactForm {
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(7, 7, 7, 0.8);
  z-index: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
